<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>FORMULARIO</title>
<link rel="stylesheet" th:href="@{./footandheadstyle.css}">
<link rel="stylesheet" th:href="@{./style.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<style>
body{
background-color: black; 
}

</style>
</head>
<body>
	<div th:replace= "~{footandhead :: header}"></div>
	
    <div class="container">
		<div class="row">

			<div class="col-3">
			</div>
			<div class="col-6">
				<form class="form" th:object="${especialidad}" 
				th:action="${band}?@{/modificarEspecialidad}:@{/guardarEspecialidad}" method="post">
				
				<input type="hidden" class="form-control" th:if="${band}" th:field="*{codigo}">
					<h4>Especialidades</h4>
					<div class="form-container">
						<!--  <label  th:if="${band == false}">Codigo:</label><br> 
						<input class="form-control" type="number" th:field="*{codigo}" th:if="${band == false}"></input><br>
						-->
						<label class="form-label">Nombre:</label><br> 
						<div>
							<input class="form-control" type="text" placeholder="Ingrese el nombre de la especialidad" th:field="*{nombre}">
							<!-- <smal class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/> -->
							<br>
							
						</div>
						<label class="form-label">Descripcion:</label><br> 
						<input class="form-control" type="text" placeholder="Ingrese una descripcion" th:field="*{descripcion}"></input><br>
						<input class="btn btn-info" type="submit" value="REGISTRAR">
						
 <a class="btn btn-outline-light" th:href="@{/vistaAdministrador}">Pagina de Aministrador</a>
 
					</div>
				</form>
			</div>
			<div class="col-3">
			</div>
		</div>
		<div th:replace="~{footandhead :: footer}"></div>
	</div>
	
	


	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>