<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>REGISTRAR MEDICO</title>
<link rel="stylesheet" href="./footandheadstyle.css">
<link rel="stylesheet" th:href="@{./style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">

<style>
body{
	background: black;
}
</style>
</head>
<body>
<div class="container">
<div th:replace="~{footandhead :: header}"></div>
	<div class="row">	
		<div class="col-3">
		</div>
		<div class="col">
		<form calss="form" th:object="${medico}" 
		th:action="${band}?@{/modificarMedico}:@{/guardarMedico}" 
		method="post">
		
		<input type="hidden" class="form-control" th:if="${band}" th:field="*{matricula}">
		<input type="hidden" class="form-control" th:if="${band}" th:field="*{estado}">
		
			<h4>Registrar Medico</h4>
			<div class="form-container">
		
				<label class="form-label" th:if="${band == false}">Matricula:</label><br> 
				<input class="form-control" type="number" th:field="*{matricula}" th:if="${band == false}"></input><br>
	
			    <label class="form-label">Nombre y Apellido:</label><br> 
				<input class="form-control" type="text" th:field="*{nombreApellido}"></input><br>
				<label class="form-label">DNI:</label><br>
				<input class="form-control" type="number" th:field="*{dni}"></input><br>
				<label class="form-label">Direccion:</label><br> 
				<input class="form-control" type="text" th:field="*{direccion}"></input><br>
						
				<label class="form-label">Numero de Telefono:</label><br> 
				<input class="form-control" type="number" th:field="*{telefono}"></input><br>
				<label class="form-label">Especialidad:</label><br> 
				<select class="form-control" th:field="*{especialidad.codigo}">
				<option th:each="e:${especialidad}" th:value="${e.codigo}" th:text="${e.nombre}"></option>
				</select><br>
						
				
				<input class="btn btn-info" type="submit" href="/guardarMedico"value="REGISTRAR">
			</div>
	</form>
	
	</div>
	<div class="col-3">
	</div>
	
	</div>
	</div>
	
	<div th:replace="~{footandhead :: footer}"></div>

</div>
	
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"
		type="text/javascript"></script>
		
</body>
</html>